# =========================================================================
# Synalyze Web PHP — Git Ignore Configuration
# =========================================================================

# --- Databases & SQLite ---
*.db
*.sqlite
database/*.sqlite
database/*.sqlite-journal
database/*.sqlite-wal
database/*.sqlite-shm

# --- Dependencies & Packages ---
/vendor/
composer.lock
node_modules/
package-lock.json

# --- Configurations & Environment ---
.env
.env.local
config/local.php
config/app.php

# --- Assets & Uploads ---
public/uploads/

# --- PHP & Server Logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Operating System Files ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- IDEs & Text Editors ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.antigravityignore

